.button{
	-fx-background-color: #66a6d6;
}

.tab-pane .tab-header-background {
    -fx-padding : 100px;
    -fx-background-radius : 0 0 5px 5px;
}

.tab-pane .tab-header-area {
    -fx-padding : 5px;
}
